# Environment Configuration for WebXR 3D Player

# Host directory containing 2D & 3D video files (Default: /media/vrfiles)
HOST_MEDIA_DIR=/media/vrfiles

# Container HTTP & HTTPS Exposed Ports
HTTP_PORT=8000
HTTPS_PORT=8443

